<section class="col-md-12">
  <div class="panel panel-primary abuse-mental-form">
    <div class="panel-heading text-center">SUBSTANCE ABUSE &amp; MENTAL HEALTH ASSESSMENT MANUAL FORM</div>
    {{#if pages.form1}}
      {{form-one model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form2}}
      {{form-two model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form3}}
      {{form-three model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form4}}
      {{form-four model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form5}}
      {{form-five model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form6}}
      {{form-six model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form7}}
      {{form-seven model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form8}}
      {{form-eight model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form9}}
      {{form-nine model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form10}}
      {{form-ten model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}

    {{#if pages.form11}}
      {{form-eleven model=model form=form class="panel-body" page=(action "page")}}
    {{/if}}
  </div>
  <div class="height-adjustment">&nbsp;</div>
</section>
