{{mdr-page-error validationResult=model.validationResult message="Please fix the errors to continue"}}

<form role="form" novalidate {{action "next" on="submit"}} autocomplete="off">
  <div class="row">
    <div class="form-group col-md-6 ">
      <label class="control-label" for="duration">Attender</label>
      {{input-select
        class="form-control"
        name="duration"
        options=model.book_appointment_with
        selected=model.selected_appointment_with
      }}
    </div>

    {{#if (eq model.selected_appointment_with "Doctor")}}
      <div class="form-group col-md-6 ">
        <label class="control-label" for="speciality">Speciality</label>
        {{input-select
          class="form-control"
          name="speciality"
          options=model.specialities
          labelPath="name"
          valuePath="id"
          onChange=(action "onSpecailityChange")
          selected=model.selected_speciality
          prompt="Select"
        }}
      </div>
    {{/if}}
  </div>
  <div class="row">
    <div class="form-group col-md-4  {{if model.validationResult.start_date.hasError 'has-error'}} {{if model.validationResult.start_date_time.hasError 'has-error'}}">
      <label class="control-label" for="start_date">Start Date</label>
      {{input-date-picker class="form-control" name="start_date" value=model.start_date max=model.max_date min=model.min_date}}
      {{mdr-field-error client=model.validationResult.start_date}}
      {{mdr-field-error client=model.validationResult.start_date_time}}
    </div>
    <div class="form-group col-md-3  {{if model.validationResult.duration.hasError 'has-error'}}">
      <label class="control-label" for="duration">Duration</label>
      {{input-select
        class="form-control"
        name="duration"
        options=durations
        labelPath="display"
        valuePath="value"
        selected=model.duration
        prompt="Select"
      }}
      {{mdr-field-error client=model.validationResult.duration}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8  {{if model.validationResult.reason.hasError 'has-error'}}">
      <label class="control-label" for="reason">Reason</label>
      {{input type="text" class="form-control" name="reason" value=model.reason maxlength=50 autocomplete="off"}}
      {{mdr-field-error client=model.validationResult.reason}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8  {{if model.validationResult.alt_info.hasError 'has-error'}}">
      <label class="control-label" for="alt_info">Other Information</label>
      {{textarea class="form-control" name="alt_info" value=model.alt_info rows="7" placeholder="Any information related to your reason of appointment" maxlength=500}}
      {{mdr-field-error client=model.validationResult.alt_info}}
      <p class="help-block">Max 500 characters only</p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <label class="control-label" for="report-files">Upload Report</label>
      {{input-file-custom class="btn-info btn-block" name="report-files" files=model.files}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <button class="btn btn-primary btn-block" type="submit">Next &gt;&gt;</button>
    </div>
  </div>
</form>
