{{mdr-page-error validationResult=model.validationResult message="Please fix the errors to continue"}}

<form role="form" novalidate {{action "next" on="submit"}} autocomplete="off">
  <div class="row">
    <div class="form-group col-md-4  {{if model.validationResult.start_date.hasError 'has-error'}} {{if model.validationResult.start_date_time.hasError 'has-error'}}">
      <label class="control-label" for="start_date">Start Date</label>
      {{input-date-picker class="form-control" name="start_date" value=model.start_date max=model.max_date min=model.min_date}}
      {{mdr-field-error client=model.validationResult.start_date}}
      {{mdr-field-error client=model.validationResult.start_date_time}}
    </div>
    <div class="form-group col-md-2  {{if model.validationResult.start_time.hasError 'has-error'}} {{if model.validationResult.start_date_time.hasError 'has-error'}}">
      <label class="control-label" for="start_time">Start Time</label>
      {{input-time-picker class="form-control" name="start_time" value=model.start_time}}
      {{mdr-field-error client=model.validationResult.start_time}}
    </div>
    <div class="form-group col-md-4  {{if model.validationResult.end_date.hasError 'has-error'}} {{if model.validationResult.end_date_time.hasError 'has-error'}}">
      <label class="control-label" for="end_date">End Date</label>
      {{input-date-picker class="form-control" name="end_date" value=model.end_date max=model.max_date min=model.min_date}}
      {{mdr-field-error client=model.validationResult.end_date}}
      {{mdr-field-error client=model.validationResult.end_date_time}}
    </div>
    <div class="form-group col-md-2  {{if model.validationResult.end_time.hasError 'has-error'}} {{if model.validationResult.end_date_time.hasError 'has-error'}}">
      <label class="control-label" for="end_time">End Time</label>
      {{input-time-picker class="form-control" name="end_time" value=model.end_time}}
      {{mdr-field-error client=model.validationResult.end_time}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8  {{if model.validationResult.reason.hasError 'has-error'}}">
      <label class="control-label" for="reason">Reason</label>
      {{input type="text" class="form-control" name="reason" value=model.reason maxlength=50 autocomplete="off"}}
      {{mdr-field-error client=model.validationResult.reason}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8  {{if model.validationResult.other_information.hasError 'has-error'}}">
      <label class="control-label" for="other_information">Other Information</label>
      {{textarea class="form-control" name="other_information" value=model.other_information rows="7" placeholder="Any information related to your reason of appointment" maxlength=500}}
      {{mdr-field-error client=model.validationResult.other_information}}
      <p class="help-block">Max 500 characters only</p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <button class="btn btn-primary btn-block" type="submit">Next &gt;&gt;</button>
    </div>
  </div>
</form>
