<section class="col-md-12">
  <div class="row">
    <div class="form-group col-md-6">
      <label class="control-label" for="patient-name">Patient name</label>
      <div class="form-control-static">
        {{model.selected_client.first_name}} {{model.selected_client.last_name}}
      </div>
    </div>
    {{#if assessor_appointment}}
      <div class="form-group col-md-6">
        <label class="control-label" for="doctor-name">Assessor name</label>
        <div class="form-control-static">
          {{model.selected_assessor.first_name}} {{model.selected_assessor.last_name}}
        </div>
      </div>
    {{else if doctor_appointment}}
      <div class="form-group col-md-6">
        <label class="control-label" for="doctor-name">Doctor name</label>
        <div class="form-control-static">
          {{model.selected_doctor.first_name}} {{model.selected_doctor.last_name}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label class="control-label" for="start-date">Start date/time</label>
      <div class="form-control-static">
        {{model.start_date_time}}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label" for="end-date">End date/time</label>
      <div class="form-control-static">
        {{model.end_date_time}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label class="control-label" for="reason">Reason</label>
      <div class="form-control-static">
        {{model.reason}}
      </div>
    </div>
    {{#if model.model.alt-info}}
      <div class="form-group col-md-6">
        <label class="control-label" for="alt-info">Other Information<</label>
        <div class="form-control-static">
          {{model.alt-info}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <button class="btn btn-primary btn-block" {{action "finish"}} type="submit">Submit</button>
    </div>
  </div>
</section>
