<form {{action "next" on="submit"}}>
  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Client Name:"}}</label>
    <div class="col-sm-10">
      {{model.customer.first_name}} {{model.customer.last_name}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Address:"}}</label>
    <div class="col-sm-10">
      {{model.customer.address1}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "City:"}}</label>
    <div class="col-sm-4">
      {{model.customer.city1}}
    </div>

    <label class="col-sm-2">{{upper-case "State/Zip Code:"}}</label>
    <div class="col-sm-4">
      {{model.customer.selected_state_1.name}} {{model.customer.zip1}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Home Phone:"}}</label>
    <div class="col-sm-4">
      {{model.customer.phone1}}
    </div>

    <label class="col-sm-2">{{upper-case "Other Phone:"}}</label>
    <div class="col-sm-4">
      {{model.customer.phone2}}
    </div>
  </div>

  <div class="form-group row form-section">
    <label class="col-sm-2">SECTION ONE</label>
    <div class="col-sm-10 form-section-title">
      CLIENT IDENTIFYING INFORMATION
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Race:"}}</label>
    <div class="col-sm-4">
      {{input-select
        class="form-control"
        name="race"
        options=form.races
        labelPath="name"
        valuePath="id"
        selected=model.selected_race
        prompt="Select"
      }}
    </div>

    <label class="col-sm-2">{{upper-case "Ethnicity:"}}</label>
    <div class="col-sm-4">
      {{input-select
        class="form-control"
        name="ethnicity"
        options=form.ethnicities
        selected=model.ethnicity
        prompt="Select"
      }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Gender:"}}</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio name="gender" group=form.one_gender value="Male"}} Male
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio name="gender" group=form.one_gender value="Female"}} Female
          </label>
        </div>
      </div>
    </div>

    <label class="col-sm-2">{{upper-case "SSN:"}}</label>
    <div class="col-sm-4">
      {{mdr-ssn type="text" class="form-control" name="ssn" value=form.one_ssn autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Date of Birth:"}}</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" name="dob" placeholder="Click to change" readonly="" value=form.dob_formatted}}
    </div>

    <label class="col-sm-2">{{upper-case "Age:"}}</label>
    <div class="col-sm-4">
      {{#if form.dob_formatted}}
        {{form.age}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row form-section">
    <label class="col-sm-2">SECTION TWO</label>
    <div class="col-sm-10 form-section-title">
      REFERRAL INFORMATION
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Referal Source:"}}</label>
    <div class="col-sm-10">
      {{input type="text" class="form-control" value=form.two_referral_source autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Referal Contact Name:"}}</label>
    <div class="col-sm-10">
      {{input type="text" class="form-control" value=form.two_referral_contact_name autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Referal Agency Name:"}}</label>
    <div class="col-sm-10">
      {{input type="text" class="form-control" value=form.two_referral_agency_name autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Contact Phone#:"}}</label>
    <div class="col-sm-4">
      {{mdr-phone type="text" class="form-control" value=form.two_contact_phone autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Child Welfare Case:"}}</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_child_welfare_case value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_child_welfare_case value="No"}} No
          </label>
        </div>
      </div>
    </div>
    <label class="col-sm-2">{{upper-case "Marchman Act Case:"}}</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_marchman_act_case value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_marchman_act_case value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Criminal Justice Case:"}}</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_criminal_justice_case value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_criminal_justice_case value="No"}} No
          </label>
        </div>
      </div>
    </div>
    <label class="col-sm-2">{{upper-case "Drug Court:"}}</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_drug_court value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.two_drug_court value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Referral Date:"}}</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" placeholder="Click to change" readonly="" value=form.referral_date_formatted}}
    </div>

    <label class="col-sm-2">{{upper-case "Time:"}}</label>
    <div class="col-sm-4">
      {{input-time-picker class="form-control" placeholder="Click to change" readonly="" value=form.two_time}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Type:"}}</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.two_type autocomplete="off"}}
    </div>

    <label class="col-sm-2">{{upper-case "Mode:"}}</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.two_mode autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Case Number:"}}</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.two_case_number autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Referal Reason:"}}</label>
    <div class="col-sm-10">
      {{input type="text" class="form-control" value=form.two_referral_reason autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-2">{{upper-case "Please describe Precipitating Factor(s):"}}</label>
    <div class="col-sm-10">
      {{textarea class="form-control" value=form.two_pdpf rows="7" maxlength=500}}
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <div class="col-md-2 form-group-right-align">
      <button class="btn btn-primary btn-block" type="submit" autocomplete="off">Next (Page 2)</button>
    </div>
  </div>
</form>
