<form {{action "next" on="submit"}}>
  <div class="form-group row form-section">
    <label class="col-sm-2">SECTION FOUR</label>
    <div class="col-sm-10 form-section-title">
      DRUG TREATMENT HISTORY
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-10">NUMBER OF TIMES YOU WERE ADMITTED TO A DETOX UNIT IN PAST 12 MONTHS:</label>
    <div class="col-sm-2">
      {{input type="text" class="form-control" value=form.four_notywataduip12m autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-10">NUMBER OF TIMES YOU WERE ADMITTED TO A SA TREATMENT PROGRAM IN PAST 24 MONTHS:</label>
    <div class="col-sm-2">
      {{input type="text" class="form-control" value=form.four_notywatstpip24m autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-10">EVER COURT ORDERED TO TREATMENT:</label>
    <div class="col-sm-2">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_ecott value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_ecott value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-10">EVER FORCED TO ENROLL IN TREATMENT:</label>
    <div class="col-sm-2">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_efteit value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_efteit value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-2">LAST DETOX ADMIT:</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" placeholder="Click to change" readonly="" value=form.four_last_detox_admit_formatted}}
    </div>

    <label class="col-sm-2">LENGTH OF STAY:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_last_detox_admit_lentgh_of_stay autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">TREATING AGENCY:</label>
    <div class="col-sm-10">
      {{input type="text" class="form-control" value=form.four_treating_agency autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">DRUG DETOXED FROM:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_drug_detoxed_from autocomplete="off"}}
    </div>

    <label class="col-sm-2">DISH DATE:</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" placeholder="Click to change" readonly="" value=form.four_drug_detoxed_from_disch_date_formatted}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">DISH STATUS:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_detox_disch_status autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-2">LAST SA TX ADMIT:</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" placeholder="Click to change" readonly="" value=form.four_last_sa_tx_admit_formatted}}
    </div>

    <label class="col-sm-2">LENGTH OF STAY:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_last_sa_tx_admit_length_of_stay autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">TREATING AGENCY:</label>
    <div class="col-sm-10">
      {{input type="text" class="form-control" value=form.four_last_sa_tx_admit_treating_agency autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">ADMIT REASON:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_admit_reason autocomplete="off"}}
    </div>

    <label class="col-sm-2">DISH DATE:</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" placeholder="Click to change" readonly="" value=form.four_last_sa_tx_disch_date_formatted}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2">DISH STATUS:</label>
    <div class="col-sm-5">
      {{input type="text" class="form-control" value=form.four_last_sa_tx_disch_status autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-8">AVERAGE CLEAN TIME BETWEEN SA TX DISCHARGES:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_actbstd autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">DID YOU FIND TREATMENT HELPFUL:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyfth value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyfth value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">LAST TIME YOU ATTENDED AA/NA:</label>
    <div class="col-sm-4">
      {{input-date-picker class="form-control" placeholder="Click to change" readonly="" value=form.four_ltyaan_formatted}}
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-8">DID YOU HAVE A DRUG OR ALCHOL PROBLEM:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyhadoap value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyhadoap value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">DID YOU BELIEVE YOU NEED HELP WITH YOUR DRINGING OR DRUG USE:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dybynhwydodu value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dybynhwydodu value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">DID YOU BELIEVE SA TREATMENT CAN HELP YOU:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dybstchy value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dybstchy value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-8">HOW DO YOU DESCRIBE YOUR LEVEL OF MOTIVATION FOR RECOVERY:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_hwydylomfr autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">IF ADMITTED TO TREATMENT HOW LIKELY ARE YOU TO COMPLETE:</label>
    <div class="col-sm-4">
      {{input type="text" class="form-control" value=form.four_iatthlaytc autocomplete="off"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">WOULD YOU LIKE HELP WITH YOUR DRINGKING OR DRUG PROBLEM:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_wylhwydodp value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_wylhwydodp value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-8">DOES ANYONE ELSE USE DRUGS IN YOUR HOME ENVIRONMENT:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_daeudiyhe value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_daeudiyhe value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">DID YOU HAVE A SUPPORTIVE HOME RECOVERY ENVIRONMENT:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyhashre value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyhashre value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-8">DO YOUR FRIENDS USE DRUGS:</label>
    <div class="col-sm-4">
      <div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyfud value="Yes"}} Yes
          </label>
        </div>
        <div class="radio-inline">
          <label>
            {{input-radio group=form.four_dyfud value="No"}} No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-2">Other treatment history narrative:</label>
    <div class="col-sm-10">
      {{textarea class="form-control" value=form.four_othn rows="7" maxlength=500}}
    </div>
  </div>

  <div class="form-group row form-seperator"></div>

  <div class="form-group row">
    <label class="col-sm-1">&nbsp;</label>
    <div class="col-md-2 form-group-right-align">
      <button class="btn btn-primary btn-block" type="submit" autocomplete="off">Next (Page 4)</button>
    </div>
    <label class="col-sm-1">&nbsp;</label>
    <div class="col-md-2 form-group-right-align">
      <button class="btn btn-primary btn-block" autocomplete="off" {{action "previous"}}>Previous (Page 2)</button>
    </div>
  </div>
</form>
