{{#unless (or hideSearch selected)}}
  <section class="search-header">
    <form class="clearfix" id="doctors-search-form" name="search-form" role="form" novalidate {{action "filter" on="submit"}}>
      <div class="form-group col-md-2 col-sm-2">
        <label class="control-label" for="doctors-speciality">Doctor Speciality</label>
        {{input-select
          class="form-control"
          name="doctors-speciality"
          id="doctors-speciality"
          options=model.specialities
          labelPath="name"
          valuePath="id"
          selected=model.speciality
          prompt="Select"
        }}
      </div>
      <div class="form-group col-md-2 col-sm-2">
        <label class="control-label" for="doctors-first-name">First Name</label>
        {{input type="text" class="form-control" id="doctors-first-name" name="first-name" placeholder="Click to change" value=model.firstName}}
      </div>
      <div class="form-group col-md-2 col-sm-2">
        <label class="control-label" for="doctors-last-name">Last Name</label>
        {{input type="text" class="form-control" id="doctors-last-name" name="last-name" placeholder="Click to change" value=model.lastName}}
      </div>
      <div class="form-group col-md-2 col-sm-12">
        <label class="control-label hide-visible" for="doctors-search-btn">search</label>
        <button class="btn btn-primary btn-block" id="doctors-search-btn" type="submit">Search</button>
      </div>
    </form>
  </section>

  {{#if filtered}}
  <div class="alert alert-info">
    <strong>Doctors Found!</strong> Listing {{filtered.length}} patients.
  </div>
  {{else}}
    <div class="alert alert-danger" style="display: block;">
      <strong>No Doctors available!</strong> Try changing search criteria.
    </div>
  {{/if}}
{{/unless}}

<ul class="list-unstyled clearfix">
  {{#each filtered as |doctor|}}
    <li class="doctor-list-item col-md-6">
      <section class="doctor-wrapper clearfix">
        <div class="pull-left left-content">
          <img class="pull-left img-responsive" src={{if doctor.male "./assets/img/default_avatar_doctor_male_120x.png" "./assets/img/default_avatar_doctor_female_120x.png"}}>
          <div>
            <h4>
              {{#link-to 'doctors.doctor.profile' doctor}}
                <strong>{{doctor.first_name}} {{doctor.last_name}}</strong>
              {{/link-to}}
            </h4>
            <p>{{doctor.graduation_institution}}</p>
            {{#unless hideBtns}}
              {{#if doctor.isActive}}
                <a class="btn btn-success" href="#" {{action "toggleStats" doctor true}}><i class="fa fa-check"></i> Active</a>
              {{else}}
                <a class="btn btn-danger" href="#" {{action "toggleStats" doctor false}}><i class="fa fa-warning"></i> Inactive</a>
              {{/if}}
              {{#link-to 'doctors.doctor.appointment' doctor class="btn btn-warning"}}<i class="fa fa-calendar"></i> Appointment{{/link-to}}
            {{/unless}}
            {{#if showSelect}}
              {{#if (eq selected doctor)}}
                <a class="btn btn-success" href="#" {{action "select" doctor}}><i class="fa fa-check"></i> Change</a>
              {{else}}
                <a class="btn btn-danger" href="#" {{action "select" doctor}}><i class="fa fa-danger"></i> Select</a>
              {{/if}}
            {{/if}}
          </div>
        </div>
        <div class="right-content"><i class="fa fa-dollar"></i> {{doctor.service_charge}}</div>
      </section>
    </li>
  {{/each}}
</ul>
