{{#unless (or hideSearch selected)}}
  <section class="search-header">
    <form class="clearfix" name="search-form" role="form" novalidate {{action "filter" on="submit"}}>
      <div class="row">
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{input type="text" class="form-control" name="first-name" placeholder="First name" value=model.firstName}}
          </div>
        </div>
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{input type="text" class="form-control" name="last-name" placeholder="Last name" value=model.lastName}}
          </div>
        </div>
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </div>
    </form>
  </section>
{{/unless}}

<ul class="list-unstyled clearfix">
  {{#each filtered as |client|}}
    {{#link-to 'clients.client.profile' client tagName="li" class="client-list-item col-md-4 clickable"}}
      <section class="client-wrapper clearfix">
        <div class="main clearfix">
          <h4>
            {{#if showSelect}}
              <span class="pull-left clickable toggle-select" {{action "select" client}}>
                <i class="fa {{if (eq selected client) 'fa-check-circle' 'fa-circle-thin'}} fa-2"></i>
              </span>
            {{/if}}

            <i class="fa fa-user fa-2 primary-color"></i>
            {{client.first_name}} {{client.last_name}}
          </h4>
          <p>{{client.insurance_plan_obj.name}}</p>
          <p><i class="fa fa-envelope"></i> {{dash-for-empty client.email_id}}</p>
        </div>
      </section>
    {{/link-to}}
  {{/each}}
</ul>
