{{#unless (or hideSearch selected)}}
  <section class="search-header">
    <form class="clearfix" name="search-form" role="form" novalidate {{action "filter" on="submit"}}>
      <div class="form-group col-md-2 col-sm-2">
        <label class="control-label" for="assessors-first-name">First Name</label>
        {{input type="text" class="form-control" name="assessors-first-name" placeholder="Click to change" value=model.firstName}}
      </div>
      <div class="form-group col-md-2 col-sm-2">
        <label class="control-label" for="assessors-last-name">Last Name</label>
        {{input type="text" class="form-control" name="assessors-last-name" placeholder="Click to change" value=model.lastName}}
      </div>
      <div class="form-group col-md-2 col-sm-12">
        <label class="control-label hide-visible" for="assessors-search-btn">search</label>
        <button class="btn btn-primary btn-block" name="assessors-search-btn" type="submit">Search</button>
      </div>
    </form>
  </section>

  {{#if filtered}}
    <div class="alert alert-info">
      <strong>Assessors Found!</strong> Listing {{filtered.length}} patients.
    </div>
  {{else}}
    <div class="alert alert-danger" style="display: block;">
      <strong>No Assessors available!</strong> Try changing search criteria.
    </div>
  {{/if}}
{{/unless}}

<ul class="list-unstyled clearfix">
  {{#each filtered as |assessor|}}
    <li class="assessor-list-item col-md-6">
      <section class="assessor-wrapper clearfix">
        <div>
          {{#if showSelect}}
            <span class="pull-left clickable toggle-select" {{action "select" assessor}}>
              <i class="fa {{if (eq selected assessor) 'fa-check-circle' 'fa-circle-thin'}} fa-2"></i>
            </span>
          {{/if}}
          <h4>
            <i class="fa fa-user fa-2 {{if assessor.isActive 'success-color' 'danger-color'}}"></i>
            {{#link-to 'assessors.assessor.profile' assessor class="theme-color"}}
              {{assessor.first_name}} {{assessor.last_name}}
            {{/link-to}}
          </h4>
        </div>
      </section>
    </li>
  {{/each}}
</ul>
