{{#unless (or hideSearch selected)}}
  <section class="search-header">
    <form class="clearfix" name="search-form" role="form" novalidate {{action "filter" on="submit"}} autocomplete="off">
      <div class="row">
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{input type="text" class="form-control" name="first-name" placeholder="First name" value=model.firstName autocomplete="off"}}
          </div>
        </div>
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{input type="text" class="form-control" name="last-name" placeholder="Last name" value=model.lastName autocomplete="off"}}
          </div>
        </div>
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </div>
    </form>
  </section>
{{/unless}}

{{#if filtered}}
  <ul class="list-unstyled clearfix">
    {{#each filtered as |client|}}
      {{#link-to 'clients.client.profile' client tagName="li" class="client-list-item col-md-4 clickable"}}
        <section class="client-wrapper clearfix">
          <div class="main clearfix">
            <h4>
              <i class="fa fa-user fa-2 primary-color"></i>
              {{client.first_name}} {{client.last_name}}
            </h4>
            <ul class="list-unstyled">
              <li><i class="fa {{if (eq client.gender 'Male') 'fa-male' 'fa-female'}}"></i> {{client.gender}} (Age {{client.age}} years)</li>
              <li><i class="fa fa-phone"></i> {{phone-number client.phone1}}</li>
            </ul>
          </div>
        </section>
      {{/link-to}}
    {{/each}}
  </ul>
{{else}}
  <div class="alert alert-danger">
    Clients are not available.
  </div>
{{/if}}
