<ul class="list-unstyled clearfix">
  {{#each appointments as |appointment|}}
    {{#link-to 'appointments.details' appointment tagName="li" class="appointment-list-item col-md-4 clickable"}}
      <section class="appointment-wrapper clearfix">
        <div class="main clearfix">
          <h4>
            <i class="fa fa-user fa-2 {{if (or (eq appointment.status 'pending') (eq appointment.form_status 'started')) 'pending'}} {{if (or (eq appointment.status 'accepted') (eq appointment.form_status 'completed')) 'accepted'}} {{if (eq appointment.status 'rejected') 'rejected'}}"></i>
            {{#if appointment.customer}}
              {{appointment.customer.first_name}} {{appointment.customer.last_name}}
            {{/if}}
          </h4>
          <ul class="list-unstyled clearfix small-font">
            <li>
              <i class="fa fa-hourglass-start"></i> {{date-format appointment.ts_request "MM-DD-YYYY HH:mm" "dddd, MMM DD YYYY hh:mm A"}}
            </li>
            <li>
              <i class="fa fa-hourglass-end"></i> {{date-format appointment.ts_request_endtime "MM-DD-YYYY HH:mm" "dddd, MMM DD YYYY hh:mm A"}}
            </li>
            {{#unless (or session.role_doctor session.role_assessor)}}
              <li>
                <i class="fa fa-user-md"></i>
                {{#if appointment.doctor}}
                  {{appointment.doctor.first_name}} {{appointment.doctor.last_name}} (Doctor)
                {{else if appointment.assessor}}
                  {{appointment.assessor.first_name}} {{appointment.assessor.last_name}} (Assessor)
                {{/if}}
              </li>
            {{/unless}}
          </ul>
        </div>
      </section>
    {{/link-to}}
  {{else}}
    <div class="alert alert-danger">
      {{#if date}}
        No appointments for {{date}}.
      {{else}}
        No <strong>{{if pending 'pending'}} {{if accepted 'accepted'}} {{if rejected 'rejected'}}</strong> appointments <strong>{{if started_appointment 'started'}} {{if completed 'completed'}}</strong>.
      {{/if}}
    </div>
  {{/each}}
</ul>
