<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="logo-wrap">
      {{#link-to (if header.session.isAuthenticated 'home' 'store-front') class="logo"}}
        <img src="./assets/img/logo.png" class="image_full">
        <img src="./assets/img/logo-mobile.png" class="image_mobile">
      {{/link-to}}
    </div>
    <div id="navbar" class="pull-right">
      <ul class="nav navbar-nav navbar-right">
        {{#if (and header.showLoginBtn (not header.session.isAuthenticated))}}
          <li class="pull-left login-nav-li">
            {{#link-to 'request-account' class=""}}
              <span class="login-link"><i class="fa fa-user-plus"></i> Sign Up</span>
            {{/link-to}}
          </li>
          <li class="pull-left login-nav-li">
            <a href="#" class="" {{action "login"}}>
              <span class="login-link"><i class="fa fa-sign-in"></i> Sign In</span>
            </a>
          </li>
        {{/if}}
        {{#if header.session.isAuthenticated}}
          {{#unless session.role_nurse}}
            <li class="dropdown hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="notify-menu fa fa-bell fa-2"></i>
                {{#if notifications.content}}
                  <span class="badge notify-badge">{{notifications.count}}</span>
                {{/if}}
              </a>
              {{#if notifications.content}}
                <ul class="dropdown-menu header-notifications">
                  <div class="notification-heading">
                    <h4 class="header-title"><i class="fa fa-bell"></i> Notifications</h4>
                  </div>
                  <li class="divider"></li>
                  <div class="notifications-wrapper">
                    {{#each notifications.content as |notification index|}}
                      {{#if notification.appointment}}
                        <div class="notification-item {{unless (eq (mod index) 0) 'even'}} clearfix">
                          <div class="item-avatar {{if (eq (mod index) 0) 'pull-left' 'pull-right'}}">
                            <i class="fa fa-user fa-2 primary-color"></i>
                          </div>
                          <p class="item-info">
                            <strong>
                              {{notification.model.customer.first_name}} {{notification.model.customer.last_name}}
                            </strong>
                            requested for appointment on
                            {{date-format notification.model.ts_request "MM-DD-YYYY HH:mm" "dddd, MMM DD YYYY HH:mm A"}}.
                            <strong>{{#link-to 'appointments.details' notification.model}}View{{/link-to}}</strong>.
                          </p>
                        </div>
                      {{else}}
                        <div class="notification-item {{unless (eq (mod index) 0) 'even'}} clearfix">
                          <div class="item-avatar {{if (eq (mod index) 0) 'pull-left' 'pull-right'}}">
                            <i class="fa fa-user fa-2 primary-color"></i>
                          </div>
                          <p class="item-info">
                            <strong>
                              {{notification.model.first_name}} {{notification.model.last_name}}
                            </strong>
                            requested for an account.
                            <strong>{{#link-to (if notification.staff 'staffs.staff.profile' (if notification.doctor 'doctors.doctor.profile' 'assessors.assessor.profile')) notification.model
                            }}View{{/link-to}}</strong>.
                          </p>
                        </div>
                      {{/if}}
                    {{/each}}
                  </div>
                </ul>
              {{/if}}
            </li>
          {{/unless}}
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img class="profile-header-avatar" src="./assets/img/default_avatar_30x.jpg">
              <span class="profile-name hidden-sm hidden-xs">{{header.session.first_name}} {{header.session.last_name}}</span>
              <span class="profile-name caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>{{#link-to "home"}}Home{{/link-to}}</li>
              <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
              <li role="separator" class="divider"></li>
              <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
            </ul>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
