<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <svg class="inline-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="50px" height="37px" viewBox="0 0 32 22.5" enable-background="new 0 0 32 22.5" xml:space="preserve" {{action 'toggleMenu'}}>
          <title>Menu</title>
          <g class="svg-menu-toggle {{if isSidebarVisible 'menu-active'}}">

          <path class="bar" d="M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0
            c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z">
          </path>
          <path class="bar" d="M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z">
          </path>
          <path class="bar" d="M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0
            c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z">
          </path>
          </g>

    </svg>
    <div class="logo-wrap">
      <a class="logo" href="#"><img src="./assets/img/brand2.png"></a>
    </div>
    <div id="navbar" class="pull-right">
      <ul class="nav navbar-nav navbar-right">
        {{#if (and header.showLoginBtn (not header.session.isAuthenticated))}}
          <li>
            {{#link-to "account.signin" class="navbar-link"}}Login / Signup{{/link-to}}
          </li>
        {{/if}}
        {{#if header.session.isAuthenticated}}
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="notify-menu fa fa-bell fa-2"></i>
              <span class="badge notify-badge">7</span>
            </a>
            <ul class="dropdown-menu header-notifications">
              <div class="notification-heading">
                <h4 class="header-title"><i class="fa fa-bell"></i> Notifications</h4>
                <a class="mark-read-text pull-right">Mark as read</a>
              </div>
              <li class="divider"></li>
             <div class="notifications-wrapper">
               <div class="notification-item clearfix">
                  <div class="item-avatar pull-left">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-right">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-left">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-right">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-left">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-right">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
             </div>
              <li class="divider"></li>
              <div class="notification-footer clearfix">
                <a class="btn btn-sm btn-primary pull-right">View all</a>
              </div>
            </ul>
          </li>
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img class="profile-header-avatar" src="./assets/img/default_avatar_30x.jpg">
              <span class="hidden-sm hidden-xs">{{header.session.first_name}} {{header.session.last_name}}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>{{#link-to "home"}}Home{{/link-to}}</li>
              <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
              <li role="separator" class="divider"></li>
              <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
            </ul>
          </li>
          <li><p class="navbar-text">{{clock.tick}}</p></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
