<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" {{action "hideDialog"}}>×</button>
		<h4 class="modal-title">
			Signin
		</h4>
	</div>
	<div class="modal-body">
  	<form role="form" class="signin-form" novalidate {{action "signin" on="submit"}} autocomplete="off">
  		{{mdr-page-error validationResult=model.validationResult message="Invalid user name or password"}}

			<div class="row">
				<div class="form-group col-md-12">
					{{input type="text" class="form-control" name="user-name" value=model.userName autocomplete="off" placeholder="User name (Email ID / NPI No)"}}
					<p class="help-block">User name is your email id, doctors can also use their NPI number to sign in.</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					{{input type="password" class="form-control" name="password" value=model.password autocomplete="off" placeholder="Password"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 checkbox">
					<label>
						{{input type="checkbox" name="remeber-me" checked=model.rememberMe}} Remember me
					</label>
				</div>
        <div class="col-md-6">
          <div class="form-control-static forget-password">
            <a href="#" class="link">Forgot password?</a>
          </div>
        </div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					{{#mdr-processing-button class="btn btn-primary btn-block" type="submit"}}Sign in{{/mdr-processing-button}}
				</div>
			</div>
  	</form>
  </div>
	<div class="modal-footer">
		Don't have an account? <a href="#" class="link"> Request here</a>
	</div>
</div>
