<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" {{action "hideDialog"}}>×</button>
		<h4 class="modal-title login-modal-header">
			<strong><img src="./assets/img/logo-mobile.png" width="150" height="30"></strong>
		</h4>
	</div>
	<div class="modal-body">
  	<form role="form" class="signin-form" novalidate {{action "signin" on="submit"}} autocomplete="off">
			<div class="row">
				<div class="form-group col-md-12">
					<p><em>Please sign in with your MDRealtime Account ID, or sign up if you don't have one.</em></p>
				</div>
			</div>
  		{{mdr-page-error validationResult=model.validationResult serverError=model.serverError message="Invalid user name or password"}}

			<div class="row">
				<div class="form-group col-md-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						{{input type="text" class="form-control" name="user-name" value=model.userName autocomplete="off" placeholder="User name"}}
					</div>
					<p class="help-block hide">User name is your email id, doctors can also use their NPI number to sign in.</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						{{input type="password" class="form-control" name="password" value=model.password autocomplete="off" placeholder="Password"}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 checkbox">
					<label>
						{{input type="checkbox" name="remeber-me" checked=model.rememberMe}} Remember me
					</label>
				</div>
        <div class="col-md-6">
          <div class="form-control-static forget-password">
            {{#link-to 'forget-password' class="link"}}Forgot password?{{/link-to}}
          </div>
        </div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					{{#mdr-processing-button class="btn btn-primary btn-block" type="submit"}}<i class="fa fa-sign-in"></i> Sign In{{/mdr-processing-button}}
				</div>
			</div>
  	</form>
  </div>
	<div class="modal-footer">
		Not a member yet? {{#link-to 'request-account' class="link"}} Sign up today{{/link-to}}.
	</div>
</div>
