<section class="doctors-add-block">
	<section class="col-md-12">
		{{#if model.created}}
			<div class="alert alert-success">
				<strong><i class="fa fa-2 fa-check"></i></strong> Doctor created successfullly.
			</div>
		{{/if}}

	  {{mdr-page-error validationResult=model.validationResult message="Please fix the errors to continue"}}

	  <form role="form" novalidate {{action "add" on="submit"}} autocomplete="off">

	    <div class="row">
	      <div class="form-group col-md-6 {{if model.validationResult.npi.hasError 'has-error'}}">
	        <label class="control-label" for="npi">NPI</label>
	        {{input type="text" class="form-control" name="npi" value=model.npi maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.npi}}
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-6 {{if model.validationResult.medicaid_number.hasError 'has-error'}}">
	        <label class="control-label" for="medicaid_number">Medicaid Number</label>
	        {{input type="text" class="form-control" name="medicaid_number" value=model.medicaid_number maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.medicaid_number}}
	      </div>
	      <div class="form-group col-md-6 {{if model.validationResult.medicare_number.hasError 'has-error'}}">
	        <label class="control-label" for="medicare_number">Medicare Number</label>
	        {{input type="text" class="form-control" name="npi" value=model.medicare_number maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.medicare_number}}
	      </div>
	    </div>

	    <div class="row">
				<div class="form-group col-md-6 {{if model.validationResult.password1.hasError 'has-error'}}">
	        <label class="control-label" for="password1">Password</label>
	        {{input type="password" class="form-control" name="password1" value=model.password1 maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.password1}}
	      </div>
	      <div class="form-group col-md-6 {{if model.validationResult.password2.hasError 'has-error'}}">
	        <label class="control-label" for="password2">Confirm Password</label>
	        {{input type="password" class="form-control" name="password" value=model.password2 maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.password2}}
	      </div>
	    </div>

	    <div class="row">
				<div class="form-group col-md-6 {{if model.validationResult.first_name.hasError 'has-error'}}">
					<label class="control-label" for="first-name">First name</label>
					{{input type="text" class="form-control" name="first-name" value=model.first_name maxlength=50 autocomplete="off"}}
					{{mdr-field-error client=model.validationResult.first_name}}
				</div>
				
	      <div class="form-group col-md-6 {{if model.validationResult.last_name.hasError 'has-error'}}">
	        <label class="control-label" for="first-name">Last name</label>
	        {{input type="text" class="form-control" name="last-name" value=model.last_name maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.last_name}}
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-6  {{if model.validationResult.dob.hasError 'has-error'}}">
	        <label class="control-label" for="dob">Date of birth</label>
	        {{input-date-picker class="form-control" name="dob" placeholder="Click to change" readonly="" value=model.dob}}
	        {{mdr-field-error client=model.validationResult.dob}}
	      </div>
	      <div class="form-group col-md-6">
	        <label class="control-label" for="gender">Gender</label>
	        <div>
	          <div class="radio-inline">
	            <label>
	              {{input-radio name="gender" group=model.gender value="MALE"}} Male
	            </label>
	          </div>
	          <div class="radio-inline">
	            <label>
	              {{input-radio name="gender" group=model.gender value="FEMALE"}} Female
	            </label>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-6 {{if model.validationResult.email_id.hasError 'has-error'}}">
	        <label class="control-label" for="email-id">Email address</label>
	        {{input type="text" class="form-control" name="email-id" value=model.email_id maxlength=50 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.email_id}}
	      </div>

	      <div class="form-group col-md-6  {{if model.validationResult.selected_timezone.hasError 'has-error'}}">
	        <label class="control-label" for="timezone">Timezone</label>
	        {{input-select
	          class="form-control"
	          name="timezone"
	          options=model.timezones
	          labelPath="name"
	          valuePath="id"
	          selected=model.selected_timezone
	          prompt="Select"
	        }}
	        {{mdr-field-error client=model.validationResult.selected_timezone}}
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-6  {{if model.validationResult.phone1.hasError 'has-error'}}">
	        <label class="control-label" for="phone1">Phone number</label>
	        {{input type="text" class="form-control" name="phone1" value=model.phone1 maxlength=10 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.phone1}}
	      </div>
	      <div class="form-group col-md-6  {{if model.validationResult.phone2.hasError 'has-error'}}">
	        <label class="control-label" for="phone2">Alternate phone number <small>(optional)</small></label>
	        {{input type="text" class="form-control" name="phone2" value=model.phone2 maxlength=10 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.phone2}}
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-8  {{if model.validationResult.address1.hasError 'has-error'}}">
	        <label class="control-label" for="address1">Address</label>
	        {{input type="text" class="form-control" name="address1" value=model.address1 maxlength=250 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.address1}}
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-6  {{if model.validationResult.selected_state_1.hasError 'has-error'}}">
	        <label class="control-label" for="state1">State</label>
	        {{input-select
	          class="form-control"
	          name="state1"
	          options=model.states
	          labelPath="name"
	          valuePath="id"
	          selected=model.selected_state_1
	          prompt="Select"
	        }}
	        {{mdr-field-error client=model.validationResult.selected_state_1}}
	      </div>
	      <div class="form-group col-md-6  {{if model.validationResult.city1.hasError 'has-error'}}">
	        <label class="control-label" for="city1">City</label>
	        {{input type="text" class="form-control" name="city1" value=model.city1 maxlength=250 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.city1}}
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-6  {{if model.validationResult.zip1.hasError 'has-error'}}">
	        <label class="control-label" for="zip1">Zip code</label>
	        {{input type="text" class="form-control" name="zip1" value=model.zip1 autocomplete="off"}}
	        {{mdr-field-error client=model.validationResult.zip1}}
	      </div>
	      <div class="form-group col-md-6">
	        <label class="control-label" for="country1">Country</label>
	        {{input type="text" class="form-control" name="country1" value=model.country1 disabled=true}}
	        <p class="help-block">Currently available for US regions only</p>
	      </div>
	    </div>

	    <div class="row">
	      <div class="form-group col-md-2">
	        <button class="btn btn-primary btn-block" type="submit" autocomplete="off">Save</button>
	      </div>
	    </div>
	  </form>
	</section>
</section>
