<section class="appointment-block">
  {{#if model.created}}
    <div class="alert alert-success">
      <strong>Success!! </strong>Appointment created.
    </div>
  {{/if}}
  <div class="panel-group">
    {{#each model.appointment.bread_crumbs as |bread_crumb|}}
      <div class="panel {{if bread_crumb.current 'panel-primary' (if bread_crumb.selected 'panel-success' (if bread_crumb.disabled 'panel-default' 'panel-primary'))}}">
        <div class="panel-heading clickable" {{action "onCrumb" bread_crumb}}>
          {{bread_crumb.id}} {{bread_crumb.name}}
          {{#if (and bread_crumb.selected (not bread_crumb.current))}}
            <span class="pull-right">
              <i class="fa fa-chevron-down"></i>
            </span>
          {{/if}}
        </div>
        {{#liquid-if bread_crumb.current use="crossFade"}}
          <div class="panel-body">
            <section class="col-md-12">
              {{#if (eq bread_crumb.id 1)}}
                {{list-clients class="clients-list-block"
                  model=bread_crumb.model
                  hideBtns=model.hide_btn_client
                  hideSearch=model.hide_search_client
                  showSelect=model.show_select_client
                  selected=model.appointment.selected_client}}
                <div class="row">
                  <div class="form-group col-md-2">
                    <button class="btn btn-primary btn-block" {{action "next"}}>Next &gt;&gt;</button>
                  </div>
                </div>
              {{else if (eq bread_crumb.id 2)}}
                {{appointment-time nextAction=(action "next") model=model.appointment}}
              {{else if (eq bread_crumb.id 3)}}
                {{list-doctors class="doctors-list-block"
                  model=bread_crumb.model
                  hideBtns=model.hide_btn_doctor
                  hideSearch=model.hide_search_doctor
                  showSelect=model.show_select_doctor
                  selected=model.appointment.selected_doctor}}

                {{#if model.appointment.selected_doctor}}
                  <div class="row">
                    <div class="form-group col-md-2">
                      <button class="btn btn-primary btn-block" {{action "next"}}>Next &gt;&gt;</button>
                    </div>
                  </div>
                {{/if}}
              {{else if (eq bread_crumb.id 4)}}
                {{appointment-submit model=model.appointment submit=(action "submit") doctor_appointment=true}}
              {{/if}}
            </section>
          </div>
        {{/liquid-if}}
      </div>
    {{/each}}
  </div>
</section>
