<div class="panel panel-primary hide">
  <div class="panel-heading">
    Billing Information
  </div>
  <div class="panel-body">
    <section class="col-md-12">
      <div class="row">
        <div class="form-group col-md-12">
          <label class="control-label" for="card-type">Type of card</label>
          <div>
            <div class="radio-inline">
              <label>
                {{input-radio name="card-type" value="visa" group=model.card_type}}
                VISA
              </label>
            </div>
            <div class="radio-inline">
              <label>
                {{input-radio name="card-type" value="master" group=model.card_type}}
                Master
              </label>
            </div>
            <div class="radio-inline">
              <label>
                {{input-radio name="card-type" value="amex" group=model.card_type}}
                American Express
              </label>
            </div>
            <div class="radio-inline">
              <label>
                {{input-radio name="card-type" value="discover" group=model.card_type}}
                Discover
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-8  {{if model.validationResult.card_full_name.hasError 'has-error'}}">
          <label class="control-label" for="full-name">Full Name</label>
          {{input type="text" class="form-control" name="full-name" value=model.card_full_name maxlength=100 autocomplete="off"}}
          {{mdr-field-error client=model.validationResult.card_full_name}}
          <p class="help-block prevent-error">Full name as mentioned on your card</p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4  {{if model.validationResult.card_no.hasError 'has-error'}}">
          <label class="control-label" for="card-no">Card number</label>
          {{input type="text" class="form-control" name="card-no" value=model.card_no maxlength=16 autocomplete="off"}}
          {{mdr-field-error client=model.validationResult.card_no}}
        </div>
        <div class="form-group col-md-2  {{if model.validationResult.cvv.hasError 'has-error'}}">
          <label class="control-label" for="cvv">CVV</label>
          {{input type="password" class="form-control" name="cvv" value=model.cvv maxlength=4 autocomplete="off"}}
          {{mdr-field-error client=model.validationResult.cvv}}
        </div>
        <div class="form-group col-md-4  {{if model.validationResult.selected_expiry_month.hasError 'has-error'}}">
          <label class="control-label" for="expiry-month">Expires on</label>
          {{input-select
            class="form-control"
            name="expiry-month"
            options=model.months
            labelPath="name"
            valuePath="id"
            selected=model.selected_expiry_month
            prompt="Month"
          }}
          {{mdr-field-error client=model.validationResult.selected_expiry_month}}
        </div>
        <div class="form-group col-md-2  {{if model.validationResult.expiry_year.hasError 'has-error'}}">
          <label class="control-label" for="expiry-year">&nbsp;</label>
          {{input-select
            class="form-control"
            name="expiry-year"
            options=model.expiry_years
            selected=model.expiry_year
            prompt="Year"
          }}
          {{mdr-field-error client=model.validationResult.expiry_year}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 checkbox">
          <label>
            {{input type="checkbox" checked=model.billing_is_primary}}
            Click here if Billing address is same as Primary address
            <span class="hide">{{model.on_billing_is_primary}}</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-8  {{if model.validationResult.card_address.hasError 'has-error'}}">
          <label class="control-label" for="billing-address">Address</label>
          {{input type="text" class="form-control" name="billing-address" disabled=model.billing_is_primary value=model.card_address maxlength=250 autocomplete="off"}}
          {{mdr-field-error client=model.validationResult.card_address}}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6  {{if model.validationResult.selected_card_state.hasError 'has-error'}}">
          <label class="control-label" for="billing-state">State</label>
          {{input-select
            class="form-control"
            name="billing-state"
            options=model.states
            labelPath="name"
            valuePath="id"
            disabled=model.billing_is_primary
            selected=model.selected_card_state
            prompt="Select"
          }}
          {{mdr-field-error client=model.validationResult.selected_card_state}}
        </div>
        <div class="form-group col-md-6  {{if model.validationResult.selected_card_city.hasError 'has-error'}}">
          <label class="control-label" for="billing-city">City</label>
          {{input-select
            class="form-control"
            name="city1"
            options=model.card_cities
            labelPath="name"
            valuePath="id"
            disabled=model.billing_is_primary
            selected=model.selected_card_city
            prompt="Select"
          }}
          {{mdr-field-error client=model.validationResult.selected_card_city}}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6  {{if model.validationResult.card_zip.hasError 'has-error'}}">
          <label class="control-label" for="billing-zip">Zip code</label>
          {{input type="text" class="form-control" name="billing-zip" disabled=model.billing_is_primary value=model.card_zip maxlength=10 autocomplete="off"}}
          {{mdr-field-error client=model.validationResult.card_zip}}
        </div>

        <div class="form-group col-md-6">
          <label class="control-label" for="billing-country">Country</label>
          {{input type="text" class="form-control" name="billing-country" value=model.card_country disabled="disabled"}}
          <p class="help-block">Currently available for US regions only</p>
        </div>
      </div>
    </section>
  </div>
</div>
