<section class="clients-list-block">
  <section class="search-header">
		<form class="clearfix" id="clients-search-form" name="search-form" role="form" novalidate {{action "filter" on="submit"}}>
			<div class="form-group col-md-2 col-sm-2">
				<label class="control-label" for="clients-first-name">First Name</label>
				{{input type="text" class="form-control" id="clients-first-name" name="first-name" placeholder="Click to change" value=model.firstName}}
			</div>
			<div class="form-group col-md-2 col-sm-2">
				<label class="control-label" for="clients-last-name">Last Name</label>
				{{input type="text" class="form-control" id="clients-last-name" name="last-name" placeholder="Click to change" value=model.lastName}}
			</div>
			<div class="form-group col-md-2 col-sm-12">
				<label class="control-label hide-visible" for="clients-search-btn">search</label>
				<button class="btn btn-primary btn-block" id="clients-search-btn" type="submit">Search</button>
			</div>
		</form>
	</section>

  {{#if model.clients}}
  <div class="alert alert-info">
    <strong>Patients Found!</strong> Listing {{model.clients.length}} patients.
  </div>
  {{else}}
    <div class="alert alert-danger" style="display: block;">
      <strong>No Patients available!</strong> Try changing search criteria.
    </div>
  {{/if}}

  <ul class="list-unstyled clearfix">
    {{#each model.clients as |client|}}
      <li class="client-list-item col-md-6">
        <section class="client-wrapper clearfix">
          <img class="pull-left img-responsive" src={{if client.male "./assets/img/default_avatar_customer_male_120x.png" "./assets/img/default_avatar_customer_female_120x.png"}}>
          <div>
            <h4>
              {{#link-to 'clients.profile' client}}
                <strong>{{client.first_name}} {{client.last_name}}</strong>
              {{/link-to}}
            </h4>

            {{#link-to 'clients.profile' client class="btn btn-info"}}<i class="fa fa-user"></i> View{{/link-to}}
            {{#link-to 'clients.profile' client class="btn btn-warning"}}<i class="fa fa-user"></i> Update{{/link-to}}
            {{#link-to 'clients.appointment' client class="btn btn-success"}}<i class="fa fa-calendar"></i> Appointment{{/link-to}}
          </div>
        </section>
      </li>
    {{/each}}
  </ul>
</section>
