<section class="appointment-block">
  <div class="panel-group">
    {{#each model.appointment.bread_crumbs as |bread_crumb|}}
      <div class="panel {{if bread_crumb.current 'panel-primary' (if bread_crumb.selected 'panel-success' (if bread_crumb.disabled 'panel-default' 'panel-primary'))}}">
        <div class="panel-heading clickable" {{action "onCrumb" bread_crumb}}>
          {{bread_crumb.id}} {{bread_crumb.name}}
          {{#if (and bread_crumb.selected (not bread_crumb.current))}}
            <span class="pull-right">
              <i class="fa fa-chevron-down"></i>
            </span>
          {{/if}}
        </div>
        {{#liquid-if bread_crumb.current use="crossFade"}}
          <div class="panel-body">
            <section class="col-md-12">
              {{#if (eq bread_crumb.id 1)}}
                {{list-assessors class="assessors-list-block" model=bread_crumb.model hideBtns=true hideSearch=true}}
                <div class="row">
                  <div class="form-group col-md-2">
                    <button class="btn btn-primary btn-block" {{action "next"}}>Next &gt;&gt;</button>
                  </div>
                </div>
              {{else if (eq bread_crumb.id 2)}}
                {{list-clients class="clients-list-block" model=bread_crumb.model hideBtns=true showSelect=true selected=model.appointment.selectedClient}}

                {{#if model.appointment.selectedClient}}
                  <div class="row">
                    <div class="form-group col-md-2">
                      <button class="btn btn-primary btn-block" {{action "next"}}>Next &gt;&gt;</button>
                    </div>
                  </div>
                {{/if}}
              {{else if (eq bread_crumb.id 3)}}
                {{appointment-time nextAction=(action "next") model=model.appointment}}
              {{else if (eq bread_crumb.id 4)}}
                {{appointment-submit model=model.appointment submit=(action "submit")}}
              {{/if}}
            </section>
          </div>
        {{/liquid-if}}
      </div>
    {{/each}}
  </div>
</section>
