<section class="container-fluid">
  <div class="body-container">
    <div class="row">
      {{mdr-sidebar class="animate-sidebar" classNameBindings="sidebar.showSideBar::sidebar-hidden"}}
      {{! remove all the below classes}}
      <div class="animate-sidebar title-bar {{if sidebar.showSideBar 'col-md-offset-2 col-xs-offset-1 col-sm-offset-1'}}">
        <span class="sidenav-toggle active" {{action "toggleSideBar"}}><i class="fa fa-bars"></i></span>
        <div class="page-title">
          <span>XYZ Corporation</span>
          <div class="btn-wrapper">
            {{component model.right_content model=model.right_content_model}}
          </div>
        </div>
      </div>
      {{! remove all the classes and add only col-md-12 below}}
      <div class="main-content animate-sidebar {{if sidebar.showSideBar 'col-md-10 col-md-offset-2 col-xs-offset-1 col-sm-offset-1' 'col-md-12'}}">
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</section>
