<div class="home-block">
  <div class="row ">
    <div class="col-md-6 col-sm-6 col-xs-12 home-widget appointment-wg">
      {{#link-to 'appointments.requests.pending'}}
        <div class="fa-wrapper hidden-xs">
          <i class="fa fa-calendar"></i>
        </div>
      {{/link-to}}
      <div class="widget-body">
        {{#link-to 'appointments.requests.pending'}}
          <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
          <div class="big-r-arrow visible-xs-inline-block"></div>
          <div class="fa-xs-wrapper visible-xs-inline-block">
            <i class="fa fa-calendar"></i>
          </div>
        {{/link-to}}
        <h4 class="widget-title">APPOINTMENTS</h4>
        <h3 class="widget-meta">{{model.pending_appointments.length}} Requests</h3>
        <div class="widget-footer hidden-xs">
          {{#link-to 'appointments.requests.pending'}}More Info <span class="right-arrow"></span>{{/link-to}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 home-widget chat-wg">
      {{#link-to 'chats'}}
        <div class="fa-wrapper hidden-xs">
          <i class="fa fa-weixin"></i>
        </div>
      {{/link-to}}
      <div class="widget-body">
        {{#link-to 'chats'}}
          <div class="big-r-arrow-overlay visible-xs-inline-block"></div>

          <div class="big-r-arrow visible-xs-inline-block"></div>
          <div class="fa-xs-wrapper visible-xs-inline-block">
            <i class="fa fa-weixin"></i>
          </div>
        {{/link-to}}
        <h4 class="widget-title">CONSULTING ROOM</h4>
        <h3 class="widget-meta">{{model.video_sessions.length}} Video Sessions</h3>
        <div class="widget-footer hidden-xs">
          {{#link-to 'chats'}}More Info <span class="right-arrow"></span>{{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    {{#if (or session.role_admin session.role_super_admin session.role_regional_admin session.role_global_admin)}}
      <div class="col-md-4 col-sm-6 col-xs-12 home-widget doctor-wg">
        {{#link-to 'doctors'}}
          <div class="fa-wrapper hidden-xs">
            <i class="fa fa-user-md"></i>
          </div>
        {{/link-to}}
        <div class="widget-body">
          {{#link-to 'doctors'}}
            <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
            <div class="big-r-arrow visible-xs-inline-block"></div>
            <div class="fa-xs-wrapper visible-xs-inline-block">
              <i class="fa fa-user-md"></i>
            </div>
          {{/link-to}}
          <h4 class="widget-title">DOCTORS</h4>
          <h3 class="widget-meta">{{model.active_doctors.length}} Active</h3>
          <div class="widget-footer hidden-xs">
            {{#link-to 'doctors'}}More Info <span class="right-arrow"></span>{{/link-to}}
          </div>
        </div>
      </div>
    {{/if}}
    <div class="col-md-4 col-sm-6 col-xs-12 home-widget client-wg">
      {{#link-to 'clients'}}
        <div class="fa-wrapper hidden-xs">
          <i class="fa fa-users"></i>
        </div>
      {{/link-to}}
      <div class="widget-body">
        {{#link-to 'clients'}}
          <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
          <div class="big-r-arrow visible-xs-inline-block"></div>
          <div class="fa-xs-wrapper visible-xs-inline-block">
            <i class="fa fa-users"></i>
          </div>
        {{/link-to}}
        <h4 class="widget-title">CLIENTS</h4>
        <h3 class="widget-meta">{{model.clients.length}} Active</h3>
        <div class="widget-footer hidden-xs">
          {{#link-to 'clients'}}More Info <span class="right-arrow"></span>{{/link-to}}
        </div>
      </div>
    </div>
    {{#if (or session.role_admin session.role_super_admin session.role_regional_admin session.role_global_admin)}}
      <div class="col-md-4 col-sm-6 col-xs-12 home-widget assessor-wg">
        {{#link-to 'assessors'}}
          <div class="fa-wrapper hidden-xs">
            <i class="fa fa-user"></i>
          </div>
        {{/link-to}}
        <div class="widget-body">
          {{#link-to 'clients'}}
            <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
            <div class="big-r-arrow visible-xs-inline-block"></div>
            <div class="fa-xs-wrapper visible-xs-inline-block">
              <i class="fa fa-user"></i>
            </div>
          {{/link-to}}
          <h4 class="widget-title">ASSESSORS</h4>
          <h3 class="widget-meta">{{model.active_assessors.length}} Active</h3>
          <div class="widget-footer hidden-xs">
            {{#link-to 'assessors'}}More Info <span class="right-arrow"></span>{{/link-to}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
