<section class="request-account-block">
  <section class="register-block">
    <section class="col-md-12">
      {{#if model.created}}
    		<div class="alert alert-success">
    			Thanks for your interest in MDRealtime. Your request has been received and someone will reach out to you soon!
    		</div>
    	{{/if}}

      <div class="panel panel-primary">
        <div class="panel-heading">NEW AGENCY REGISTRATION</div>
        <div class="panel-body">
          <p>Thanks for your interest in MDRealtime. Please complete and submit the New Agency Registration form, an MDRealtime account manager will call you to complete the Registration.</p>

          <p>If you are associated with an agency affiliated with MDRealtime, please contact your Agency Administrator for sign up assistance.</p>

          <section class="register-form-content">
            {{#if model.created}}
              <div class="alert alert-success">
                <strong><i class="fa fa-2 fa-check"></i></strong> Once again, thanks for your interest and someone will reach out to you soon!
              </div>
            {{/if}}

            {{mdr-page-error validationResult=model.validationResult message="Please fix the errors to continue"}}

            <form role="form" novalidate {{action "request" on="submit"}} autocomplete="off">
              <div class="row">
                <div class="form-group col-md-8 {{if model.validationResult.agency_name.hasError 'has-error'}}">
                  <label class="control-label" for="agency_name">Agency Name</label>
                  {{input type="text" class="form-control" name="agency_name" value=model.agency_name maxlength=50 autocomplete="off"}}
                  {{mdr-field-error client=model.validationResult.agency_name}}
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 {{if model.validationResult.first_name.hasError 'has-error'}}">
                  <label class="control-label" for="first-name">First Name</label>
                  {{input type="text" class="form-control" name="first-name" value=model.first_name maxlength=50 autocomplete="off"}}
                  {{mdr-field-error client=model.validationResult.first_name}}
                </div>

                <div class="form-group col-md-6 {{if model.validationResult.last_name.hasError 'has-error'}}">
                  <label class="control-label" for="first-name">Last Name</label>
                  {{input type="text" class="form-control" name="last-name" value=model.last_name maxlength=50 autocomplete="off"}}
                  {{mdr-field-error client=model.validationResult.last_name}}
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 {{if model.validationResult.email_id.hasError 'has-error'}}">
                  <label class="control-label" for="email-id">Email Address</label>
                  {{input type="text" class="form-control" name="email-id" value=model.email_id maxlength=50 autocomplete="off"}}
                  {{mdr-field-error client=model.validationResult.email_id}}
                </div>

                <div class="form-group col-md-6  {{if model.validationResult.phone1.hasError 'has-error'}}">
                  <label class="control-label" for="phone1">Phone Number</label>
                  {{input type="text" class="form-control" name="phone1" value=model.phone1 maxlength=14 autocomplete="off"}}
                  <small class="help-block prevent-error">(NNN) NNN-NNNN</small>
                  {{mdr-field-error client=model.validationResult.phone1}}
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-12  {{if model.validationResult.comments.hasError 'has-error'}}">
                  <label class="control-label" for="comments">Comments</label>
                  {{textarea class="form-control" name="comments" value=model.comments autocomplete="off"}}
                  {{mdr-field-error client=model.validationResult.comments}}
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-2 form-group-right-align">
                  <button class="btn btn-primary btn-block" type="submit" autocomplete="off">Submit</button>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-12">
                  <div class="form-control-static form-group-right-align">
                    Already have an MDRealtime Account ID? {{#link-to "store-front"}}Sign In{{/link-to}}
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </section>
  </section>
</section>
